In [2]:
import sqlite3
import pandas as pd

In [3]:
# Establish connection and create SQLite database
conn = sqlite3.connect("student_health_data.db")
cursor = conn.cursor()

In [4]:
# Drop the existing table if it exists (optional cleanup step in case the program has already been run before)
drop_table = """DROP TABLE student_health"""

cursor.execute(drop_table)
conn.commit()

In [5]:
# Load the CSV file and read data
data = pd.read_csv("student_health_data.csv")
data.head()

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate

In [6]:
# Check the numbers of rows and columns of the dataset
data.shape

(1000, 14)

In [7]:
# Select a sample of the first 100 rows for insertion into the database
sample_data = data.head(100)

In [8]:
# Create the "studenth_health" table
student_health = """CREATE TABLE student_health(
    Student_ID INTEGER,
    Age INTEGER,
    Gender TEXT,
    Heart_Rate REAL,
    Blood_Pressure_Systolic REAL,
    Blood_Pressure_Diastolic REAL,
    Stress_Level_Biosensor REAL,
    Stress_Level_Self_Report REAL,
    Physical_Activity TEXT,
    Sleep_Quality TEXT,
    Mood TEXT,
    Study_Hours REAL,
    Project_Hours REAL,
    Health_Risk_Level TEXT
)"""

cursor.execute(student_health) # Execute

In [9]:
# Insert the sample data (100 rows) to the "studenth_health" table
sample_data.to_sql("student_health", conn, if_exists="append", index=False)

100

In [10]:
# Verify the sample data insertion
result = pd.read_sql_query("SELECT * FROM student_health", conn)
result

,Student_ID,Age,Gender,Heart_Rate,Blood_Pressure_Systolic,Blood_Pressure_Diastolic,Stress_Level_Biosensor,Stress_Level_Self_Report,Physical_Activity,Sleep_Quality,Mood,Study_Hours,Project_Hours,Health_Risk_Level
0,1,24,M,50.663217,122.173015,84.419860,3.137350,9.028669,High,Moderate,Happy,34.520973,16.800956,Moderate
1,2,21,F,57.926042,110.778407,75.696145,3.699078,5.819697,Moderate,Good,Stressed,16.763846,15.791154,Moderate
2,3,22,M,59.294219,109.375673,83.803814,6.785156,5.892360,Low,Moderate,Happy,44.203798,25.678437,Moderate
3,4,24,M,76.826232,125.142227,78.091587,6.408509,6.884001,High,Poor,Happy,21.776645,20.808391,High
4,5,20,M,68.342769,107.515592,80.674937,7.264719,4.483450,Moderate,Poor,Happy,8.964999,15.194045,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,23,F,71.278027,92.629139,68.453053,9.614213,4.783019,High,Good,Neutral,32.997722,13.627110,Moderate
96,97,21,M,73.671023,117.422055,69.045991,4.843945,9.055900,High,Moderate,Happy,33.050005,16.891061,Moderate
97,98,23,M,64.741946,103.377532,82.983918,5.275903,9.843872,Moderate,Poor,Happy,31.632861,10.763654,Moderate
98,99,24,M,68.689616,116.920694,79.448018,9.081597,6.733428,Low,Good,Neutral,30.401191,13.332614,Moderate
99,100,24,F,50.000000,155.012454,84.848787,5.725444,2.454739,High,Poor,Happy,9.081359,7.899585,High

In [11]:
# Commit the changes and close the database connection
conn.commit()
conn.close()